/* 改变主题色变量 */
$--color-success:  #00c1de;
$--color-primary:  #00c1de;
$--color-info:  #7ab2decf;
// $--button-success:#00c1de;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";